html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
*body {
  margin-bottom: 60px;
}
.form-center {
    align-items: center;
}
.table{
    background-color: darkslategrey;
    border-radius: 8px;
    text-decoration-color: ;
}
.bais {
    text-align: center;
    
}
.Principal{
    background-color: teal;
}

.headP{
    background-color:skyblue;
}
.login {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
    border-radius:7px;
}
.login2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}
.form-label {
    display: flex;
    justify-content: center;
    align-items: center;
}